.pull-right {
  float: right; }

.right-col {
  padding-right: 0; }

.left-col {
  padding-left: 0; }

body {
  font-family: 'Roboto';
  overflow-x: hidden !important; }

section {
  overflow-x: hidden !important; }

.paddingtop {
  padding-top: 150px; }

.white-nav {
  padding: 10px 0; }

.navbar-brand img {
  height: 75px; }

@media only screen and (max-width: 768px) {
  .paddingtop {
    padding-top: 125px; } }
html, body {
  overflow-x: hidden !important; }

.mob-social-icons img {
  width: 30px; }
.mob-social-icons a {
  padding: 0 5px; }
  .mob-social-icons a:first-child {
    padding-left: 0; }

.mob-whats-icons img {
  width: 35px;
  margin-right: 5px; }

.navbar-list .nav-item {
  padding: 0 6px;
  font-weight: bold; }

.hamburger {
  z-index: 9999;
  font-size: 25px;
  position: absolute;
  right: 5%; }

.foo-section {
  height: 100% !important;
  overflow-y: hidden; }
  .foo-section img {
    width: 80%; }

.footer-wrap {
  display: flex;
  justify-content: space-evenly; }

.footer-wrapper {
  height: 100%;
  margin-top: 50px; }

.footer-section .foo-list li {
  font-weight: normal; }

.whatapp-list {
  margin-top: -10px; }
  .whatapp-list img {
    padding-top: 2px;
    width: 25px !important;
    margin-right: 6px;
    margin-top: -4px;
    padding-bottom: 2px; }
  .whatapp-list .whats-app-icon {
    margin-top: 0; }
  .whatapp-list a {
    text-decoration: none;
    color: black; }

.navigation-menu {
  position: fixed;
  display: none;
  z-index: 9999;
  background: #f8f9fa;
  top: 0;
  bottom: 0;
  padding: 0 100px 0 25px;
  right: -999px;
  width: 300px;
  height: 100vh; }
  .navigation-menu .mob-nav {
    margin-top: 60%;
    text-decoration: none;
    list-style: none;
    padding: 0; }
    .navigation-menu .mob-nav li {
      padding: 10px 0; }
      .navigation-menu .mob-nav li a {
        color: black; }
  .navigation-menu .inner-ham {
    position: absolute;
    right: 8%;
    top: 4%; }

.home-slider {
  height: 100vh; }
  .home-slider .slick-prev {
    left: 4%;
    z-index: 1; }
  .home-slider .slick-next {
    right: 6%; }
  .home-slider .home-slide {
    height: 100vh; }
  .home-slider .slick-slide {
    height: 100vh; }
  .home-slider .slick-next:before, .home-slider .slick-prev:before {
    font-size: 50px; }
  .home-slider .section2-wrapper {
    height: 100%;
    display: flex; }
  .home-slider .location-details {
    height: 100%;
    flex-basis: 50%;
    background: #254e70;
    position: relative; }
  .home-slider .location-image {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
    flex-basis: 50%; }
  .home-slider .intro-para {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0 138px;
    color: #fff; }
  .home-slider .location-intro {
    font-size: 24px;
    font-weight: 100; }
  .home-slider .loc-img-1 {
    background-image: url("../images/home/Entire_Property.JPG"); }

.section1 .landing-cotainer {
  position: relative;
  top: 70%;
  transform: translateY(-50%); }
.section1 .landing-content-wrapper {
  padding-top: 15px; }
.section1 .home-slider {
  height: 100vh; }
  .section1 .home-slider .slick-prev {
    left: 6%;
    z-index: 1; }
  .section1 .home-slider .slick-next {
    right: 6%; }
  .section1 .home-slider .home-slide {
    height: 100vh; }
  .section1 .home-slider .home-slide-1 {
    background-image: url("../images/home/Image-trees.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat; }
  .section1 .home-slider .home-slide-2 {
    background-image: url("../images/home/boxes_background.png");
    background-size: cover; }
  .section1 .home-slider .home-slide-3 {
    background-image: url("../images/home/Image-trees.jpg");
    background-size: cover; }
.section1 .slick-slide {
  height: 100vh; }

.section2 {
  background-image: url("../images/home/boxes_background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat; }

.onepage-pagination li a.active:before {
  border: 1px solid #fff; }

.onepage-pagination li a:before {
  border: 1px solid #fff;
  background: transparent; }

.social-icons {
  margin-top: 3%;
  position: absolute;
  right: 3%;
  z-index: 1; }
  .social-icons img {
    width: 20px; }
  .social-icons .call-now-icon {
    width: 80px; }
  .social-icons a {
    padding: 0 6px; }

.navbar-links {
  text-align: center;
  margin-top: 20px; }
  .navbar-links ul {
    text-decoration: none;
    list-style: none;
    padding: 0; }
    .navbar-links ul li {
      display: inline;
      font-weight: 600; }
      .navbar-links ul li:after {
        content: "|";
        margin-left: 0.5%; }
      .navbar-links ul li:last-child:after {
        content: ""; }
    .navbar-links ul a {
      color: black; }

.landing-logo {
  padding-top: 6%; }
  .landing-logo img {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

#location-details-form {
  background: white;
  padding: 10px 22px 8px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  width: 100%; }
  #location-details-form .form-control {
    border-radius: 0;
    border: 1px solid #254e70; }

#get-rate {
  background: #254e70;
  color: white;
  border-radius: 0;
  border-color: transparent; }

.room-info .box {
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  color: white; }
  .room-info .box h1 {
    font-size: 16px; }
  .room-info .box p {
    font-size: 14px; }
.room-info .image-box-1 {
  background-image: url("../images/home/Entire_Property.JPG");
  background-size: cover; }
.room-info .image-box-3 {
  background-image: url("../images/home/Bedroom.jpg");
  background-size: cover; }
.room-info .image-box-2 {
  background-image: url("../images/home/2_BHK_LIving.jpeg");
  background-size: cover; }
.room-info .pink-box {
  background: #f58f9a; }
  .room-info .pink-box:after {
    content: '';
    position: absolute;
    top: 60%;
    right: 0;
    left: 100%;
    margin-top: -50px;
    margin-left: -1.5%;
    width: 0;
    height: 0;
    border-top: solid 30px transparent;
    border-left: solid 30px #f58f9a;
    border-right: solid 30px transparent;
    border-bottom: solid 30px transparent;
    z-index: 1; }
.room-info .blue-box {
  background: #00a5e0; }
  .room-info .blue-box:after {
    content: '';
    position: absolute;
    top: 99%;
    left: 60%;
    margin-left: -60px;
    width: 0;
    height: 0;
    border-top: solid 30px #00a5e0;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
    z-index: 1; }
.room-info .brown-box {
  background: #ebeb80;
  color: black; }
  .room-info .brown-box:after {
    content: '';
    position: absolute;
    top: 60%;
    left: 0;
    right: 100%;
    margin-left: -14.5%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-top: solid 30px transparent;
    border-left: solid 30px transparent;
    border-right: solid 30px #ebeb80;
    border-bottom: solid 30px transparent; }

.places-to-stay {
  background: #fff; }
  .places-to-stay .place-wrapper-row {
    padding-top: 50px; }
  .places-to-stay .places-wrapper {
    padding: 60px 0; }
    .places-to-stay .places-wrapper .img-wrapper img {
      width: 100%;
      border: 8px solid #254e70; }
    .places-to-stay .places-wrapper .gal-name-wrapper {
      background: #254e70;
      padding: 10px 0;
      box-sizing: border-box;
      color: white; }
    .places-to-stay .places-wrapper .price-tag {
      font-size: 22px; }
    .places-to-stay .places-wrapper h5 {
      text-align: center;
      color: #254e70;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 2px;
      position: relative; }
      .places-to-stay .places-wrapper h5:after {
        content: '';
        position: absolute;
        width: 100px;
        border-top: 2px solid #254e70;
        bottom: -10px;
        left: 46%; }
    .places-to-stay .places-wrapper .explore {
      font-size: 20px;
      color: #254e70;
      position: relative;
      padding-top: 20px; }
      .places-to-stay .places-wrapper .explore a {
        text-decoration: none;
        color: #254e70; }
      .places-to-stay .places-wrapper .explore:after {
        border-style: solid;
        border-width: 1px 1px 0 0;
        content: '';
        display: inline-block;
        height: 12px;
        position: relative;
        top: 11px;
        vertical-align: top;
        width: 12px;
        left: 0;
        transform: rotate(45deg); }

.footer-section {
  height: 100%;
  background: #3399ff; }
  .footer-section .container-fluid {
    padding: 0 50px 30px 50px; }
  .footer-section .contact-wrapper {
    color: white;
    border: 1px solid white;
    border-top: none;
    padding: 50px 80px; }
    .footer-section .contact-wrapper h3 {
      font-weight: normal; }
  .footer-section .foo-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer-section .foo-list li {
      padding: 10px 0;
      font-size: 18px; }
  .footer-section .email-div p {
    margin-left: 10%;
    font-size: 22px; }
  .footer-section .email-div h2 {
    text-align: left; }
  .footer-section .email-div form {
    flex-flow: initial; }
    .footer-section .email-div form .form-control {
      border-radius: 0; }
  .footer-section #email-submit {
    width: 135px;
    border-radius: 0;
    background: #254e70;
    border: none; }
  .footer-section .email-input {
    width: 350px;
    border-radius: 0;
    background: #de9aff; }
    .footer-section .email-input:focus {
      border: none;
      box-shadow: none; }

.email-input::-webkit-input-placeholder {
  color: white; }

@media only screen and (min-width: 992px) {
  .location-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

  .hamburger {
    display: none; } }
@media only screen and (max-width: 1400px) {
  .home-slider .intro-para {
    padding: 0 128px; } }
@media only screen and (max-width: 1024px) {
  #location-details-form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5%; }

  .footer-section #email-submit {
    width: auto; }

  .footer-section .email-input {
    width: auto; }

  .home-slider .intro-para {
    padding: 0 40px; }

  .footer-section .contact-wrapper {
    padding: 50px 5px; }

  .foo-details h3 {
    font-size: 22px; }

  .footer-section .email-div h2 {
    font-size: 22px; } }
@media only screen and (max-width: 991px) {
  .whatapp-list {
    margin-top: 10px; }

  .navbar-list .nav-item {
    padding: 0; }

  .whatapp-list img {
    padding: 10px 0; }

  .section1 {
    overflow-x: hidden; }

  .section2 {
    height: auto !important; }

  .room-info {
    padding: 60px 0; }
    .room-info .box {
      padding: 15px;
      height: 250px; }
    .room-info .blue-box:after {
      top: 99%; }
    .room-info .brown-box:after {
      margin-left: -18%; } }
@media only screen and (max-width: 768px) {
  .section1 .home-slider .home-slide-1 {
    background-image: url("../images/home/mob_homepage.jpg"); }

  .foo-section {
    height: auto !important; }

  .navbar-links {
    display: none; }

  .landing-logo img {
    width: 40%; }

  .room-info .box {
    padding: 15px;
    height: 241px; }

  .footer-section .email-div h2 {
    text-align: left; }

  .footer-section .email-div p {
    margin-left: 0; }

  .footer-section .email-input {
    margin-left: 0;
    margin-bottom: 5px; }

  .footer-section .mx-sm-4 {
    margin-left: 0 !important; }

  .footer-section #email-submit {
    width: auto;
    top: 50%;
    transform: translateY(-8%); }

  .places-to-stay .places-wrapper h5:after {
    left: 43%; }

  .home-slider .location-intro {
    font-size: 20px; }

  .home-slider .location-head {
    font-size: 28px; }

  .places-to-stay {
    height: auto !important; }

  .footer-section {
    height: auto !important; }

  .gal-name-wrapper h2 {
    font-size: 24px; }

  .places-to-stay .places-wrapper .price-tag {
    font-size: 20px; }

  .email-div h2 {
    font-size: 22px; }

  .footer-section .contact-wrapper h3 {
    font-size: 22px; } }
@media only screen and (max-width: 767px) {
  .foo-section {
    height: auto; }

  .left-col {
    padding-left: 15px; }

  .right-col {
    padding-right: 15px; }

  .room-info .pink-box:after {
    content: none; }

  .room-info .blue-box:after {
    content: none; }

  .room-info .brown-box:after {
    content: none; }

  #location-details-form {
    flex-wrap: nowrap; }

  .footer-section .contact-wrapper {
    padding: 50px 15px; }

  .footer-wrap {
    justify-content: space-between; }

  .footer-section #email-submit {
    float: none; } }
@media only screen and (max-width: 600px) {
  .section1 .home-slider {
    height: auto; }

  .foo-section {
    height: auto; }

  .home-slider .section2-wrapper {
    flex-direction: column; }

  .section1 .home-slider .home-slide {
    height: auto;
    max-height: 100%;
    height: -webkit-fill-available; }

  .section1 .slick-slide {
    height: auto; }

  .footer-section #email-submit {
    float: none; }

  .contact-wrapper h3 {
    font-size: 22px; }

  .footer-section .contact-wrapper {
    padding: 50px 10px; }

  .footer-section .foo-list li {
    font-size: 16px; }

  .footer-section .email-div h2 {
    font-size: 22px; }

  .footer-section .email-div form {
    flex-flow: row wrap; } }
@media only screen and (max-width: 500px) {
  .section1 {
    height: 750px !important; }

  .landing-content-wrapper {
    position: relative; }

  .navbar-links {
    bottom: 0; }

  #location-details-form {
    background: transparent;
    flex-wrap: wrap;
    flex-direction: column; }
    #location-details-form .form-group {
      width: 200px; }

  .footer-section .email-div form {
    flex-flow: row wrap; }

  .home-slider .intro-para {
    padding: 30px 25px; }

  .footer-section {
    height: auto !important; }

  .footer-section .contact-wrapper {
    padding: 50px 20px; }

  .footer-section .foo-list li {
    padding: 6px 10px; }

  .email-div {
    margin-top: 5%; }

  .foo-list:nth-child(2) {
    margin-bottom: 10px; }

  .footer-section .container-fluid {
    padding: 0 30px 30px 30px; }

  .places-to-stay .places-wrapper h5:after {
    left: 40%; }

  .landing-logo img {
    width: 75%; }

  .places-to-stay {
    height: auto !important; }

  .footer-wrap {
    flex-wrap: wrap; } }
@media only screen and (max-width: 375px) {
  .footer-section #email-submit {
    margin-left: 50%;
    transform: translateX(-177%); }

  .footer-section .email-div h2 {
    font-size: 25px; }

  .footer-section .email-div p {
    font-size: 20px; }

  .places-to-stay .places-wrapper h5:after {
    left: 37%; }

  .home-slider .intro-para {
    padding: 10px 5px;
    position: relative;
    top: auto;
    transform: none; }

  .home-slider .location-head {
    font-size: 22px; }

  .home-slider .location-intro {
    font-size: 18px; } }
@media only screen and (max-width: 320px) {
  #location-details-form {
    flex-direction: column; }
    #location-details-form .form-group {
      width: 200px; }

  .footer-section .email-div h2 {
    font-size: 24px; }

  .footer-section .email-div p {
    font-size: 18px; }

  .footer-section #email-submit {
    margin-left: 0;
    transform: none; }

  .footer-section .contact-wrapper h3 {
    font-size: 24px; }

  .places-to-stay .places-wrapper h5:after {
    left: 32%; }

  .navbar-links {
    bottom: 1%; }

  .section1 {
    height: 600px !important; } }
.places-to-stay-head {
  margin-bottom: 30px;
  color: #254e70; }

.room-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .room-box-wrapper a {
    text-decoration: none; }

.social-list {
  list-style: none;
  padding: 0; }
  .social-list li {
    display: inline-block; }

.room-boxes {
  width: 345px;
  margin: 30px 25px 30px 0; }

.room-img {
  height: 280px; }

.room-details {
  background: #254e70;
  color: white;
  padding: 10px 0; }
  .room-details p {
    margin-bottom: 0; }

.custom-search-btn {
  border-radius: 0;
  background: #254e70; }
  .custom-search-btn .fa {
    color: white; }

.custom-search {
  border: 1px solid #254e70;
  border-radius: 0; }
  .custom-search:focus {
    box-shadow: none;
    border: 1px solid #254e70; }

.search-form {
  margin-bottom: 25px; }

.navbar-list img {
  width: 20px; }

.social-list:nth-child(2) .social-items:last-child img {
  width: 75px; }

@media only screen and (min-width: 992px) {
  .social-items {
    padding: 6px 5px 0 5px !important; } }
@media only screen and (max-width: 575px) {
  .white-nav {
    padding: 10px 10px; } }
@media only screen and (max-width: 375px) {
  .room-box-wrapper {
    justify-content: initial; } }
@media only screen and (max-width: 365px) {
  .room-boxes {
    width: 335px; } }
@media only screen and (max-width: 320px) {
  .room-boxes {
    width: 290px; }

  .room-img {
    height: 240px; } }
.inner-landing-section {
  background-image: url("../images/inner_details/landing_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative; }

.inner-booking {
  position: absolute;
  bottom: 8%;
  display: flex;
  left: 50%;
  transform: translateX(-50%); }
  .inner-booking .booking-box {
    padding: 15px; }
    .inner-booking .booking-box h4 {
      margin-bottom: 0; }
  .inner-booking .blue-box {
    background: #254e70;
    color: white; }
  .inner-booking .grey-box {
    background: #e8eded;
    color: #254e70; }
  .inner-booking .book-box {
    background: #254e70;
    color: white;
    padding: 15px 20px; }

.interior-details .interior-wrapper {
  display: flex; }
.interior-details .apt-details {
  flex-basis: 70%;
  padding: 40px 120px;
  background: #e8eded;
  color: #254e70; }
.interior-details .apt-addres {
  padding: 40px 0 40px 120px;
  background: #254e70;
  color: white; }

.apt-images .full-img-gallery {
  display: flex; }
.apt-images .left-full-img {
  height: 700px;
  flex-basis: 60%; }
.apt-images .right-full-img {
  flex-basis: 40%; }
.apt-images .img-boxes {
  height: 350px; }

.comfort-section {
  background: #fff; }
  .comfort-section .places-wrapper h5 {
    color: #254e70;
    text-align: left; }
  .comfort-section .places-wrapper h5:after {
    content: none; }
  .comfort-section .places-wrapper .img-wrapper img {
    border: 12px solid #e8eded; }

@media only screen and (max-width: 768px) {
  .inner-booking {
    flex-direction: column; }

  .interior-details .interior-wrapper {
    flex-direction: column; } }
@media only screen and (max-width: 600px) {
  .apt-images .left-full-img {
    flex-basis: initial;
    height: 500px; }

  .apt-images .full-img-gallery {
    flex-direction: column; }

  .interior-details .apt-details {
    padding: 30px; }

  .interior-details .apt-addres {
    padding: 30px; } }
@media only screen and (max-width: 425px) {
  .apt-images .left-full-img {
    height: 500px; }

  .inner-booking .booking-box {
    padding: 6px; }

  .inner-booking .book-box {
    padding: 10px 6px; } }
@media only screen and (max-width: 320px) {
  .apt-images .left-full-img {
    height: 300px; }

  .apt-images .img-boxes {
    height: 300px; } }
.partner-with-us {
  background-image: url("../images/partner/Image-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  position: relative;
  background-position-y: -220px; }
  .partner-with-us .inner-booking {
    bottom: 18%; }
  .partner-with-us .partner-form {
    bottom: 5% !important;
    max-width: 670px !important;
    position: absolute !important; }
    .partner-with-us .partner-form .form-control {
      border: 1px solid #254e70 !important; }

.partner-btn {
  background-color: #254e70 !important;
  background: #254e70 !important; }

.partner-wrapper {
  display: flex; }
  .partner-wrapper .partner-box {
    text-align: center;
    padding: 50px 60px;
    border: 1px solid grey; }
  .partner-wrapper .partner-icon {
    width: 50px;
    padding-bottom: 15px; }

.rules-head {
  padding: 45px 225px; }
  .rules-head h4 {
    margin-bottom: 0;
    border: 2px solid #254e70;
    padding: 5px 0;
    color: #254e70; }

.rules {
  padding-bottom: 50px; }
  .rules .rule-icon-wrapper img {
    width: 75px;
    padding-top: 25px; }
  .rules .rule-icon-wrapper .rule-icon-box {
    display: flex;
    justify-content: space-evenly;
    text-align: center; }
  .rules .contact-text {
    margin-top: 10px;
    text-align: center;
    margin-top: 40px; }

@media only screen and (max-width: 1250px) {
  .partner-with-us {
    background-position-y: 0; } }
@media only screen and (max-width: 1024px) {
  .partner-wrapper .partner-box {
    font-size: 15px;
    padding: 50px 25px; } }
@media only screen and (max-width: 992px) {
  .rules-head {
    padding: 45px 50px; } }
@media only screen and (max-width: 768px) {
  .partner-wrapper {
    flex-direction: column; } }
@media only screen and (max-width: 767px) {
  .rules-head {
    padding: 45px 0; }

  .rules .rule-icon-wrapper img {
    padding: 10px 0 40px 0; }

  .rules .rule-icon-wrapper .rule-icon-box {
    flex-wrap: wrap; }

  .rule-box {
    width: 40%; } }
@media only screen and (max-width: 600px) {
  .partner-form {
    flex-direction: column;
    background: transparent !important;
    position: absolute !important; }
    .partner-form .form-control {
      width: 200px;
      margin: 5px 0; }

  .partner-with-us .inner-booking {
    bottom: 35%; } }
@media only screen and (max-width: 500px) {
  .partner-with-us .landing-content-wrapper {
    position: static !important; }

  .partner-form .form-control {
    margin: -4px 0; } }

/*# sourceMappingURL=main.css.map */
