.pull-right {
	float: right;
}
.right-col {
	padding-right: 0;
}
.left-col {
	padding-left: 0;
}
body {
	font-family: 'Roboto';
	overflow-x: hidden !important;
}

section {
	overflow-x: hidden !important;
}

.paddingtop {
	padding-top: 150px;
}

.white-nav {
	padding: 10px 0;
}

.navbar-brand {
	img {

		height: 75px;
	}
}