.search-section {
	// background: #5bbbea;
}
.places-to-stay-head {
	margin-bottom: 30px;
	color: $places-to-stay-text;	
}
.room-box-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	a {
		text-decoration: none;
	}
}

.social-list {
	list-style: none;
    padding: 0;
    
    li {
    	display: inline-block;
    }

 }

.room-boxes {
	// border: 1px solid black;
	// height: 360px;
    width: 345px;
    margin: 30px 25px 30px 0;
}

.room-img {	
	height: 280px;
}
.room-details {
	// border: 1px solid yellow;
	background: $places-to-stay-text;
	color: white;
	padding: 10px 0;
	p {
		margin-bottom: 0;
	}
	
}
.custom-search-btn {
	border-radius: 0;
	background: $places-to-stay-text;
	.fa {
		color: white;
	}
}
.custom-search {
	border: 1px solid $places-to-stay-text;
	border-radius: 0;
	&:focus {
		box-shadow: none;
		border: 1px solid $places-to-stay-text;
	}
}

.search-form {
	margin-bottom: 25px;
}

.navbar-list {
	img {
		width: 25px;
	}
}

.social-list {
	&:nth-child(2) {
		.social-items {
			&:last-child {
			img {
				width: 75px;
			}
		}
	}	
	}
}


//mediaqueries

@media only screen and (min-width: 992px) {
	.social-items {
		padding: 6px 5px 0 5px !important;
	}
}

@media only screen and (max-width: 575px) {
	.white-nav {
		padding: 10px 10px;
	}
}


@media only screen and (max-width: 375px) {
	.room-box-wrapper {
		justify-content: initial;
	}
}

@media only screen and (max-width: 365px) {
	.room-boxes {
		width: 335px;
	}
}

@media only screen and (max-width: 320px) {
	.room-boxes {
		width: 290px;
	}
	.room-img {
		height: 240px;
	}
}