$get-rate-button : #254e70;
$box1: #f58f9a;
$box2: #00a5e0;
$box3: #ebeb80;
$places-to-stay-background: #e5eae4;
$footer-background: #45c4dc;
$submit-button: #254e70;

//Places to stay page colors
$places-to-stay-text : #254e70;
$inner-details-bg: #e8eded;